<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/music/<%=musicianId%>/add" enctype="multipart/form-data">
<input type="text" name="name" placeholder="Music Name"/><br/>
<input type="file" name="albumPost" placeholder="Album Post"><br/>
<input type="text" name="albumName" placeholder="Album Name"><br/>
<input type="submit" value="ADD" />
</form>
</body>
</html>