<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/musician/add">
<input type="text" name="name" placeholder="Musician Name"/><br/>
<input type="text" name="company" placeholder="Company"><br/>
<input type="submit" value="ADD" />
</form>
</body>
</html>